*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #f6f6f6;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 ;
}

